/* Globals */
html {
    box-sizing: border-box;
    font-size: 10px; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e1e1e1;
}
.btn{
    border: unset;
    border-radius: 3px;
    background-color: #2988bc;
    color: #e1e1e1;
    display: block;
    padding: 1.3rem;
    margin: 2rem auto;
    font-size: 2rem;
    width: 90%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color: #2f496e;
}
.wrapper{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
#error{
    display: block;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    height: 1rem;
}

/* HEADER */
.header{
    background-color: #2f496e;
    margin-top: 2rem;
    width: 100%;
}

.header-title{
    color: #e1e1e1;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}
.header-title span{
    color: #2988bc;
}

/* DATOS DE LOS JUGADORES*/
.player-form{
    margin: 3rem 5%;
}
.player-form-name{
    color: #555555;
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.player-form-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.player-form-field label{
    color: #2f496e;
    font-size: 3.5rem;
    margin-right: 1rem;
}
.player-form-field:last-of-type label{
    font-size: 1.9rem;
}
.player-form-field select, .player-form-field input{
    height: 5rem;
    color: #555555;
    font-size: 1.7rem;
    border-radius: 3px;
    border: 2px solid #555555;
    flex: 1;
}
/* GAME */
.game-turn{
    margin: 4rem 0 1.5rem 0;
}
.game-turn h2{
    font-family: 'Chewy', cursive;
    text-align: center;
    color: #555555;
    font-size: 3rem;
}
.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
}
.board{
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 0 auto;
}
.board canvas{
    background-color: #2f496e;
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
.player .active{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 1.5rem;
    background-color: unset;
}
.player{
    font-family: 'Chewy', cursive;
    color: #2988bc;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.player p #score-value{
    color: #555555;
}
#game{
    display: none;
}
.game-options{
    display: flex;
    justify-content: center;
}
.game-options .btn{
    width: unset;
    margin: 3rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    margin-right: 1rem;
}
.game-options .btn:last-of-type{
    margin-right: 0;
}
.game-options .btn i{
    font-size: 2.4rem;
}
.filling{
    height: 7rem;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #555555;
    padding: 1rem 0;
}
.footer p{
    text-align: center;
    color: #e1e1e1;
}

/* ALERT */
.alert-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 55, 55, 0.8);
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    display: none;
}
.alert{
    position: relative;
    background-color: #ed8c72;
    border-radius: 3px;
    width: 25rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-message{
    text-align: center;
    font-size: 2.5rem;
    color: #e1e1e1;
}
@media screen and (min-width: 320px){
    .player{
        font-size: 2rem;
    }
    .footer p{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 480px){
    .player-form-name{
        font-size: 2rem;
    }
    .player .active{
        width: 100%;
    }
    .game-container{
        display: flex;
        justify-content: center;
    }
    .board{
        margin: 0 2rem;
    }
    .game-options .btn{
        margin-right: 3rem;
    }
    .game-options .btn:last-of-type{
        margin-right: 0;
    }

}
@media screen and (min-width: 768px){
    .players-form-data{
        width: 40rem;
        margin: 2rem auto;
        padding: 0 3rem;
        border-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #555555;
        box-shadow: 0 6px 6px #555555, 6px 0 8px #555555 ;
    }
    .player{
        font-size: 2.5rem;
    }
    /* .board{
        width: 30rem;
        height: 30rem;
    } */
    .game-options .btn{
        padding: 0.8rem 2.2rem;
        font-size: 1.8rem;
    }
    .game-options .btn{
        margin-right: 4rem;
    }
    .game-options .btn:last-of-type{
        margin-right: 0;
    }
    .game-options .btn i{
        font-size: 2.6rem;
    }
}
@media screen and (min-width: 1024px){
    .header-title{
        font-size: 4rem;
    }
}

